.contactcontainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
    padding-top: 5em;
    position: relative;
}

.contactmsg {
    text-align: left;
    padding: 4em 5%;
    color: black;
    position: relative;
}

.contactmsg h1 { 
    width: 100%;
    font-size: clamp(1em, 1vw, 3em);
    padding-top: 2em;
}

.contactmsg span {
    width: 80%;
    font-size: clamp(2em, 4vw, 4em);
}

.contactform {
    width: 100%;
    max-width: 800px;
    margin: 2em auto;
    background: #f9f9f9;
    padding: 2em 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactform form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #011766;
}

textarea {
    resize: none;
    height: 100px;
}

.submit {
    padding: 0.8em 1.5em;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #011766;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #0133aa;
}